In [1]:
def times2(var):
    return var*2

In [2]:
times2(4
      )

8

In [3]:
#map()

In [4]:
seq = [1,2,3,4,5]

In [5]:
map(times2,seq)

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
#lambda Expression

In [8]:
t = lambda var:var*2

In [9]:
t(5)

10

In [10]:
list(map(t,seq))

[2, 4, 6, 8, 10]

In [12]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [15]:
s = "hello, my name is Sam"

In [16]:
s.lower()

'hello, my name is sam'

In [17]:
s.upper()

'HELLO, MY NAME IS SAM'

In [18]:
s

'hello, my name is Sam'

In [19]:
s.split()

['hello,', 'my', 'name', 'is', 'Sam']

In [20]:
tweet = "Go Sports! #Sports"

In [21]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [22]:
d

NameError: name 'd' is not defined

In [24]:
d = {'k1':1,'k2':2}

In [25]:
d.keys

In [26]:
d.keys()

dict_keys(['k1', 'k2'])

In [27]:
# tuppel unpacking

In [36]:
x = [(1,2),(4,5),(5,6)]

In [30]:
x[0][1]

2

In [37]:
for (a,b) in x:
    print(a)

1
4
5