In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']

In [3]:
inside = [1,2,3,1,2,3]

In [4]:
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [13]:
df

             A         B
G1 1  1.464045  1.753092
   2  0.338431  0.300946
   3  0.889714  0.663648
G2 1 -0.047161 -0.951555
   2 -1.466538 -1.096748
   3  0.482951  0.537914

In [15]:
df.loc['G1'].loc[1]

A    1.464045
B    1.753092
Name: 1, dtype: float64

In [16]:
df.index.names = ['Groups','Num']

In [17]:
df

                   A         B
Groups Num
G1     1    1.464045  1.753092
       2    0.338431  0.300946
       3    0.889714  0.663648
G2     1   -0.047161 -0.951555
       2   -1.466538 -1.096748
       3    0.482951  0.537914

In [20]:
df.loc['G2'].loc[2]['B']

-1.0967479283741537

In [24]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.464045  1.753092
G2     -0.047161 -0.951555