In [4]:
import pandas as pd

In [11]:
ls

 Volume in drive C is OS
 Volume Serial Number is 46B4-6A49

 Directory of C:\Users\akulkarni\Python\Notebook

08/14/2016  12:04 AM             6,148  (2).DS_Store
12/01/2017  10:36 AM    <DIR>          .
12/01/2017  10:36 AM    <DIR>          ..
09/02/2016  12:10 AM             6,148 .DS_Store
10/03/2016  10:57 AM    <DIR>          .git
09/26/2016  10:15 PM    <DIR>          .ipynb_checkpoints
09/23/2016  10:45 AM    <DIR>          Big-Data-and-Spark
08/23/2016  01:44 PM            55,820 Data Input and Output.ipynb
09/26/2016  09:15 AM    <DIR>          Data-Capstone-Projects
08/23/2016  08:07 AM            59,442 DataFrames.ipynb
09/29/2016  02:26 PM    <DIR>          Deep Learning
08/13/2016  11:56 PM                46 example
08/14/2016  12:05 AM             5,508 Excel_Sample.xlsx
08/31/2016  06:10 PM            22,040 Groupby.ipynb
08/23/2016  08:06 AM             1,361 Introduction to Pandas.ipynb
09/26/2016  10:15 PM    <DIR>          Machine Learning Sections
08/23/2016  10:56 AM            38,414 Merging, Joining, and Concatenating .ipynb
08/23/2016  10:17 AM             7,696 Missing Data.ipynb
08/13/2016  08:02 PM               560 multi_index_example
12/01/2017  10:27 AM            22,329 Operations.ipynb
07/21/2016  01:21 PM             5,888 Pierian_Data_Logo.png
09/15/2016  08:51 AM    <DIR>          Python-Crash-Course
08/17/2016  08:57 PM    <DIR>          Python-for-Data-Analysis
09/06/2016  02:25 PM    <DIR>          Python-for-Data-Visualization
07/19/2016  12:26 PM               111 README.md
08/23/2016  07:47 AM             8,796 Series.ipynb
07/19/2016  09:48 PM             1,028 Welcome to the Course.ipynb
              16 File(s)        241,335 bytes
              11 Dir(s)  60,007,129,088 bytes free

In [12]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df = pd.read_csv('example.csv')

In [16]:
df.to_csv('my_output',index=False)

In [17]:
pd.read_excel('Excel_Sample.xlsx',sheetname="Sheet1")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

In [19]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [24]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","October 20, 2017"
1,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
2,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","July 26, 2017"
3,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","July 26, 2017"
4,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","May 18, 2017"